@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

    /* And so on, for all other elements that should adapt to dark mode */
}

    
    .checkbox {
        font-size: 1px;
        color: red !important;
    }
    
    .styled-table {
        border-collapse: collapse;
        font-size: 1.4em;
        font-family: sans-serif;
        min-width: 500px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
        background-color: #ffffff !important;
        color: #000000 !important;
    }
    .styled-table thead tr {
        background: linear-gradient(to right, #FEBE4A, #FF6547) !important;
        background-color: #ffffff !important;
        text-align: left;
        color: #000000 !important;
    }
    .styled-table th{
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    .styled-table td {
        padding: 10px 10px;
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd !important;
        color: #000000 !important;
        background-color: #ffffff !important;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3 !important;
        color: #000000 !important;
        background-color: #ffffff !important;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    color: #000000 !important;
    background-color: #ffffff !important;
    }

    .column2 {
        padding: 10px;
        color: #000000 !important;
        background-color: #ffffff !important;
    }

    /* Clear floats after image containers */
    .row::after {
    content: "";
    clear: both;
    display: table;
    color: #000000 !important;
    
    }
    p {
    font-size: 15px;
    color: #000000 !important;
    }

    styled_input {
    border: 2px solid black !important;
    color: #000000 !important;
    }


    input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 120px;
    width: 2px;
    border-radius: 50%;
    background: black !important;
    transition: background .3s ease-in-out;
    }

    input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    }

#sliderelement0
    input[type="range"] {
          background-image: url('./data/schema0.png');
          background-size: 100% 120px;
          height: 150px;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-appearance: none;
          margin-right: 15px;
          border-radius: 5px;
        }
        
#sliderelement1
    input[type="range"] {
          background-image: url('./data/schema1.png');
          background-size: 100% 120px;
          height: 150px;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-appearance: none;
          margin-right: 15px;
          border-radius: 5px;
        }
#sliderelement2
    input[type="range"] {
          background-image: url('./data/schema2.png');
          background-size: 100% 120px;
          height: 150px;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-appearance: none;
          margin-right: 15px;
          border-radius: 5px;
        }
#sliderelement3
    input[type="range"] {
          background-image: url('./data/schema3.png');
          background-size: 100% 120px;
          height: 150px;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-appearance: none;
          margin-right: 15px;
          border-radius: 5px;
        }
    
