gradio==5.23.3
numpy==2.2.4
pathlib==1.0.1
pydicom==3.0.1
git+https://github.com/qubvel/segmentation_models.pytorch@930a163d86180c26d9eb56fc6aa5d05fdd5234ba
ttach==0.0.3
scikit-learn==1.6.1
scikit-image==0.25.2
scikit-build==0.18.1
opencv-python==4.11.0.86
pandas==2.2.3
botocore==1.37.28